@font-face {
    font-family: tronos;
    src: url(/Juego-de-Tronos/FUENTE/Game\ of\ Thrones.ttf);
}

body{
    background-image: url(/Juego-de-Tronos/FOTOS/lobo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}


.cabecera{
    font-family: tronos;
    color: gold;
     background-color: black;
    text-align: center;
    height: 200px;
    display: grid;
    place-items: center;
    font-size: 50px;
    position: fixed;
    width: 100%;
   
    z-index: 2;
}
.infoCabecera{
    font-size: 10px;
    
}
footer{
    background:linear-gradient(black,white);
    color: gold;
    font-family: tronos;
    text-align: center;
    height: 100px;
   /* display: grid;  */
    place-items: center;
    font-size: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    opacity: 0.6;
    
}
.piepagina{
   margin-top: 1%;
   justify-content: center;
  
}
*{margin: 0%;
    padding: 0%;}

.noticia1{
    top: 20%;
    clear: both;
    color: red;
    position: absolute;
    
    
    width: 30%;
}
.noticia2{
    top: 40%;
    
    color: white;
    position: absolute;
    width: 50%;
    left: 35%;
    background-image: url(../FOTOS/la\ casa\ del\ dragón.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
}
.noticia3{
    position: absolute;
    top: 100%;
    width: 40%;
    background-image: url(../FOTOS/HD-wallpaper-game-of-thrones-house-targaryen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.noticia4{
    position: absolute;
    top: 100%;
    width: 40%;
    left: 50%;
    background-color: white;
    border-radius: 5%;
    padding: 1%;
}
.noticia5{
    position: absolute;
    top: 130%;
    padding: 10%;
    width: 60%;
    left: 25%;
}
.publi1{
    top: 50%;
    position: absolute;
    width: 30%;
    height: 40%;
}
input{
    position: absolute;
    top: 195%;
    left: 45%;
}
.publi2{
    top: 150%;
    position: absolute;
    width: 30%;
    height: 40%;
}
