@font-face {
    font-family: tronos;
    src: url(/Juego-de-Tronos/FUENTE/Game\ of\ Thrones.ttf);
}
.publiIZQ{
    float: left;
    
   margin-top: 11%;
    
}
.iframee{
    height: 350vh;
}

.cabecera{
    font-family: tronos;
    color: gold;
     background-color: black;
    text-align: center;
    height: 200px;
    display: grid;
    place-items: center;
    font-size: 50px;
    position: fixed;
    width: 100%;
   
    z-index: 2;
}
*{margin: 0%;
    padding: 0%;}

.infoCabecera{
    font-size: 10px;
    
}
body{
    background: linear-gradient(gold, black)
}

    

.publiDER{
    
    margin-left: 84%;
    margin-right: 300px;
}
.iframeee{
    margin-top: 220px;
    margin-left: 84%;
    height: 350vh;   
    
    

}
.menu{
    display: inline-block;
    position: relative;
    display: flex;
    justify-content: center;
    top: -3550px;
    height: 50px;
    
    
}
.contenidoMenu{
    display: none;
    position: absolute;
    width: 15%;
    overflow: auto;
    top: 50px;
    
}

.menu:hover .contenidoMenu{
    display: block;
}
.contenidoMenu a{
    display: block;
    color: black;
    padding: 5px;
    text-decoration: none;
}
.contenidoMenu a:hover{
    color:  black;
    background-color: #00A4BD;
}
.Info{
   
    width: 50%;
    margin: auto;
    margin-top: -3500px;
    
    
}
.contenidoInfo{
    text-align: justify;
    color: white;
}
#video1{
    margin-top: 30px;
    margin-right: 140px;
}
h1{
    text-align: center;
}
img{
    margin-left: 35%;
}


footer{
    background:linear-gradient(black,white);
    color: gold;
    font-family: tronos;
    text-align: center;
    height: 100px;
   /* display: grid;  */
    place-items: center;
    font-size: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    opacity: 0.6;
    
}
.piepagina{
   margin-top: 1%;
   justify-content: center;
  
}